.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  h1 {
    @apply text-3xl  uppercase text-purple-800 font-semibold;
    filter: drop-shadow(5px 4px 6px #4444ddb9);
  }
  .input_container {
    @apply flex gap-4;
  }
}

.container {
  display: grid;
  grid-template-columns: 2;
  grid-auto-flow: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  .font_wrapper {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      @apply text-4xl;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }
    h5 {
      @apply text-base;
    }
    h6 {
      @apply text-sm;
    }
  }
}
